*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;

}
ul{
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}
li{
    list-style: none;

}

.secondmainheading{
font-size: 3rem;
font-weight: bold;
margin: 1rem 0;
}
@media (max-width:768px) {
    .secondmainheading{
font-size: 2rem;
}
}
.greytext{
    color: #666666;
}
.buttondesign{
    color: rgb(227, 227, 227) !important;
    background-color: rgb(131, 192, 66);
    padding: 1rem 2.5rem;
    border-radius: 30px;
    position: relative;
    overflow: hidden !important;
    transition: 1s ease-in-out;
    /* z-index: -1; */
    clip-path: inset(0 round 30px);
}
.buttondesign span{
    position: relative;
    z-index: 2;
}
.buttondesign::before{
    content: "";
    position: absolute;
    height:50%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(16, 117, 60);
    border-radius: 30px 30px 0 0;
    transition: 0.3s;
     z-index: 1;
}
.buttondesign::after{
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgb(16, 117, 60);
    border-radius: 0 0 30px 30px;
    transition: 0.3s;
     z-index: 1;
}
.buttondesign:hover::after,.buttondesign:hover::before{
  height:0;
}

/* menu */
.menu{
    width: 280px;
    height: 100vh;
  padding: 1rem 0;  
    line-height: 1.8;
    position: fixed;
    left: -350px;
    top: 0;
    z-index:99;
background-color: #fffbe8;
transition: 0.3s;
overflow-y: scroll;
border-right: 2px solid rgb(252, 176, 63);
}
.menu.open{
    left: 0;
}
.menu li{
    padding: 0.5rem 1rem;
border-bottom: 2px solid lightgrey;
transition: 0.3s;
}
.menu li:hover{
    background-color: rgb(252, 176, 63);
}
.menu a{
    color: #000;
    transition: 0.3s;
}
.menu li:hover a{
color: #fff;
}
.menuicons {
  perspective: 600px; /* gives depth for 3D effect */
}
.menuicons i{
margin-right: 1rem;
background-color: rgb(252, 176, 63);
padding:0.6rem 1rem;
color: #fff;
border-radius: 50%;
transition: transform 0.8s ease-in-out; /* smoother and visible */
  transform-style: preserve-3d;
  display: inline-block;
}

.menuicons i:hover {
  transform: rotateY(360deg); /* full visible spin */
  background-color: rgb(252, 176, 63);

}
.menuinfo:hover a , .menuinfo:hover i {
color: rgb(252, 176, 63) !important;
}

/* top nav */
.topnav {
    background-color: #000;
    color: #fff;
    padding: 1rem 0 3rem 0;
}
.topnav a{
color: #fff;
}

/* header */
header{
width: 100%;
left: 50%;
   transform: translate(-50%, -2rem);
   position: absolute;
   z-index: 2;
   
}
header.sticky{
    position: sticky;
    top:1rem;
   left: 0;
   transform: none;
   
}
@media (max-width:576px) {
    header.sticky{
   top: 0;
}
}
header .container{
    background-color: #fffbe8;
    border-radius: 10px;
    padding: 0.5rem;
}
.topnavicons i{
    margin-left: 1rem;
}
.dropdownn{
    position: relative;
 
}
.dropdownn::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 15px; /* height of invisible hover area (gap space) */
  background: transparent;
}
.dropdownn ul li{
    margin-left: 0;
}
.sublist{
    position: absolute;
opacity: 0;
visibility: hidden;
left: -1rem;
transform: translateY(50%);
z-index: -1;
    background-color: #fff;
    transition: 0.3s;
    width: 200px;
    border: 2px solid whitesmoke;
    box-shadow: 0px 4px 16px rgba(128, 128, 128, 0.379);

}
.sublist li{
    border-bottom: 2px solid lightgrey;
    padding: 0.65rem;
}
.dropdownn:hover .sublist{
opacity: 1;
visibility: visible;
transform: translateY(15px);
z-index: 2;
}
.sublist li:hover{
background-color: rgb(252, 176, 63);
}
.sublist li:hover a{
color: #fff !important;
}
@media (max-width:992px) {
header{
   transform: translate(-50%, 1rem);
}
}
@media (max-width:768px) {
    .topnavicons i{
    margin-left: 0;
    margin-right: 1rem;
}
}

@media (max-width:576px) {
header{
   position: relative;
   left: 0;
   transform: none;
}
header .container{
    border-radius: 0;
}
}
.mainheader li{
    margin-left: 2.5rem;
}
.mainheader a{
   font-size: 1.15rem; 
   color: #000;
   transition: 0.3s;
}
.mainheader li:hover a{
    color: rgb(252, 176, 63);
}


/* about  */
.aboutsection{
  background-image: url(../images/about2.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}
/* @media (max-width:992px) {
    .aboutsection{
        background-position: right top;
    }
} */
.aboutbimg2, .aboutbimg1{
position: relative;
border-radius: 10px;
width: fit-content;
}
.aboutbimg1{
    z-index: 1;
}
@media (max-width:576px) {
    .aboutbimg1{
        width: 100%;
    }
}
.aboutbimg2{
    z-index: -1;
    transform: translate(15%, -15%);
}

.counteddiv{
transform: translateY(-200%);
    background-color: #fff;
    /* border: 2px solid red; */
    width: fit-content;
    padding:1rem 2rem;
    border-radius: 10px 10px 0 10px;
    position: absolute;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
animation: lift 0.8s ease infinite;
}
@keyframes lift {
    0%, 100%, 20%, 50%, 80%{
        transform: translateY(-200%);
    }
40%{
    transform: translateY(-200%) translateY(-5px);
}
60%{
    transform: translateY(-200%) translateY(-10px);
}
}
 .counteddiv::after {
  content: "";
  position: absolute;
  right: 0;
  margin-top: 1.1rem;
  /* bottom: 0; */
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-top: 25px solid #fff; /* color of triangle */
}

.counteddiv span{
font-size: 4rem;
color: rgb(16, 117, 60);
font-weight: 700;
}
.counteddiv p{
    font-weight: 700;
    color: rgb(252, 176, 63);
    margin-bottom: 0;
}


.abouticons > div h3{
    color: rgb(252, 176, 63);
    transition: 0.3s;
}
.abouticons > div:hover h3{
    color: rgb(131, 192, 66);
}


/* service cards */
.servicecard{
    /* border: 2px solid red; */
     box-shadow: 0px 4px 16px rgba(128, 128, 128, 0.379);
    border-top: 5px solid rgb(252, 176, 63);
    border-radius: 10px;
    overflow: hidden;
}
.demo{
    position: relative;
}
.servicecardicon1{
    padding: 1rem 0.5rem;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    right: 1rem;
    border-radius: 10px;
    border:3px solid rgb(252, 176, 63);
    background-color: #fff;
    transition: 0.6s;
}
.servicecardicon2{
     padding: 0.6rem 1rem;
    position: absolute;
    bottom: 50px;
    /* transform: translateY(15%); */
    left: 1rem;
    border-radius: 50%;
    border:3px solid rgb(252, 176, 63);
    background-color: #fff;
}
.servicecardicon2 i{
    font-size: 1.5rem;
}
.servicecard:hover .servicecardicon1{
    transform:translateY(-50%) rotate3d(0,1,0,180deg);
     background-color: rgb(252, 176, 63);
}
.servicecardimg img{
 border-radius: 0 0 10px 10px; 
 transition: 0.6s; 

}
.servicecardimg{
    border-radius: 0 0 10px 10px;
    position: relative;
    overflow: hidden;
}
.servicecardimg::after{
    content: "";
   background: linear-gradient(110deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 70%);
    transform: translateX(-100%) skewX(-15deg);
    transition: transform 0.6s 
ease;
    z-index: 99;
    pointer-events: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
border-radius: 0 0 10px 10px;
}
.servicecard:hover .servicecardimg::after{
 transform: translateX(100%) skewX(-15deg);
}
.servicecard:hover .servicecardimg img{
    transform:rotate(3deg) scale(1.1);
}
.servicecard .firstmainheading{
    font-size: 1.5rem;
    color: rgb(16, 117, 60);
    transition: 0.3s;
}

.servicecard:hover .firstmainheading{
    color: rgb(252, 176, 63);
}

/* our projects */
.ourproj{
    background-image: url(../images/ourproj.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    /* background-size: cover; */
}
.ourproj .row{
    background-color: rgb(16, 117, 60);
border-radius: 10px;
 box-shadow: 0px 4px 16px rgba(128, 128, 128, 0.379);
}
.ourproj .row .col-lg-6{
   /* padding: 0;  */
   color: #fff;
}
.ourproj .row .col-lg-6 ul li{
   line-height: 2;
}

/* footer */
footer{
    background-color: #1f1e17;
    color: #fff;
}
footer i{
    color: rgb(252, 176, 63);
}
.footerdiv{
    background-image: url(../images/footer-pattern-1.png);
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
position: relative;
line-height: 2;
}
.footerdiv::before{
content: "";
position: absolute;
top: -50px;
left: 0;
right: 0;
height: 50px;
background-image: url(../images/footertop.png);
 background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
}

footer ul li a , .contactinfo a{
    color: #fff;
}
.footercompanyicons i{
padding:0.5rem 1rem;
border-radius: 50%;
transition: 0.3s;
}

.footercompanyicons i:hover{
background-color: rgb(131, 192, 66);
color: #fff;
}
.footercompanyinfo p{
    line-height: 1.5;
}